.builder-blocks-nav-block {

}

.builder-blocks-nav-block-menu {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}