/* Main column width */
.wp-block {
    max-width: 100% !important;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 80%;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.builder-blocks-settings-margin-wrap,
.builder-blocks-settings-padding-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;

	.components-base-control {
		margin-bottom: 0 !important;
	}
}